h1 a {
    color: #fca205;
}

body{
    background-color: #d8b9ff;
}

div.date {
    font-size: 16px;
    font-family: cursive;
    margin-bottom: 10px;
}

p.comment {
    font-size: 12px;
}

div.post_detail {
    background: #ffffff;
    margin-bottom: 20px;
    padding: 10px;
    padding-left: 20px;
    border-width: 30px;
    border-color: black;
    border-radius: 20px;
}